## This is an example env file that holds the environment variables for the deployed services

# you have to specify those correctly !!!

# this are the example we currently use for different services:

# SC4EU token gitlab: glpat-PLS6JSn4Ytq34-4sxUqw

REACT_APP_PUBLIC_URL=/ocp/
REACT_APP_EXPRESS_BACKEND_URL=/ocp/
REACT_APP_DISABLE_REGISTER_AND_OAUTH=False
GITHUB_ACCESS_TOKEN=your_github_token_here

REACT_APP_GITLAB_ACCESS_TOKEN=glpat-PLS6JSn4Ytq34-4sxUqw
REACT_APP_GITHUB_TOKEN2=your_gitlab_token_here
REACT_APP_DIGITAL_REFERENCE_ONTOLOGY_URL=LINK_TO_YOUR_ONTOLOGY

# The API URL endpoint base
REACT_APP_API_URL=https://service.tib.eu/ts4tib/api
# The search URL
REACT_APP_SEARCH_URL=https://service.tib.eu/ts4tib/api/search
REACT_APP_TS_ONTOLOGIES_URL=https://terminology.tib.eu/ts/ontologies/
REACT_APP_NFDI4ENERGY_ANNOTATOR_URL=https://service.tib.eu/sandbox/nfdi4energyannotator/annotate
REACT_APP_HEADER_INFO_TIB=TIBCENTRAL
REACT_APP_PROJECT_NAME=""
REACT_APP_VOCABULARY_SERVICE_URL=your_vocabulary_service_github_url_here
REACT_APP_VOCABULARY_SERVICE_DISCUSSION_URL=your_discussion_github_url_here

#Eurostat
REACT_APP_TIVA_BACKEND_URL=https://service.tib.eu/sandbox/tiva

#OnDeT
REACT_APP_DIFF_BACKEND_URL=https://service.tib.eu/sandbox/history