## This is an example env file that holds the environment variables for the deployed services

# you have to specify those correctly !!!

# this are the example we currently use for different services:

# SC4EU token gitlab: glpat-PLS6JSn4Ytq34-4sxUqw

REACT_APP_PUBLIC_URL=/ocp/
REACT_APP_EXPRESS_BACKEND_URL=/ocp/
REACT_APP_DISABLE_REGISTER_AND_OAUTH=False
GITHUB_ACCESS_TOKEN=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
#REACT_APP_GITLAB_ACCESS_TOKEN=glpat-bxszjLHkPuzcEUW-9XYG
REACT_APP_GITLAB_ACCESS_TOKEN=glpat-PLS6JSn4Ytq34-4sxUqw
REACT_APP_GITHUB_TOKEN2=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

# The API URL endpoint base
REACT_APP_API_URL=https://service.tib.eu/ts4tib/api
# The search URL
REACT_APP_SEARCH_URL=https://service.tib.eu/ts4tib/api/search
REACT_APP_TS_ONTOLOGIES_URL=https://terminology.tib.eu/ts/ontologies/
REACT_APP_HEADER_INFO_TIB=TIBCENTRAL
REACT_APP_PROJECT_NAME=""