## This is an example env file that holds the environment variables for the deployed services

# you have to specify those correctly !!!

# this are the example we currently use for different services:

REACT_APP_PUBLIC_URL=/
REACT_APP_FLASK_BACKEND_URL=http://localhost:5000/
REACT_APP_EXPRESS_BACKEND_URL=http://localhost:9000/
REACT_APP_ONTOLOGY_SERVICE_BACKEND_URL=http://localhost:12463/

