## WE need here additional ENV vars for storing the github access tokens

GITHUB_CLIENT_ID='5cb883882d082983aa50'
GITHUB_CLIENT_SECRET='189c71deba294e5209b8c73d299acb3fa72b3a0c'

JWT_SECRET= 'EXAMPLE_DO_CHANGE'

# note the application port has to be consistent with the port we use in GitHub for the callback url
APPLICATION_PORT = '9000'
APPLICATION_URL = 'http://localhost'
BACKEND_SERVER_URL=http://localhost:5000
PROCESSING_SERVER_URL=http://localhost:12463
CALLBACK_URL = 'https://service.tib.eu'

MAIL_HOST = 'mailgate.tib.eu'
MAIL_PORT = 25
MAIL_SECURE = false
MAIL_USER_NAME = 'terminology-service@tib.eu'

