## WE need here additional ENV vars for storing the github access tokens

GITHUB_CLIENT_ID = ''
GITHUB_CLIENT_SECRET =''

JWT_SECRET= ''

# note the application port has to be consistent with the port we use in GitHub for the callback url
APPLICATION_PORT = '9000'
APPLICATION_URL = 'http://localhost'

