.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
}

.bg.bg1 {
    background-image: url(../assets/images/SlideBackground.png);
}

.bg.bg2 {
    background-image: url(../assets/images/SlideContentBackground.png);
}
